{% extends 'car_dealer/base.html' %}
{% block content %}
{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">SwiftWheels: {{user.username}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link btn btn-teal" href="/Car_dealer/logout/">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-teal" href="/Car_dealer/order_list/">Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-teal" href="/Car_dealer/manage_vehicles/">Vehicles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-teal" href="/Car_dealer/history/">Earnings</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-lg-6">
            <h3 class="mb-4">Post Vehicles</h3>
            <form action="/Car_dealer/add_vehicle/" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="car_name">Car Name:</label>
                    <label>
                        <input class="form-control" type="text" name="car_name" required>
                    </label>
                </div>
                <div class="form-group">
                    <label for="color">Color:</label>
                    <label>
                        <input class="form-control" type="text" name="color" required>
                    </label>
                </div>
                <div class="form-group">
                    <label for="city">City:</label>
                    <label>
                        <input class="form-control" type="text" name="city" required>
                    </label>
                </div>
                <div class="form-group">
                    <label for="pincode">Pincode:</label>
                    <label>
                        <input class="form-control" type="text" name="pincode" required>
                    </label>
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <label>
                        <input class="form-control" type="text" name="description" required>
                    </label>
                </div>
                <div class="form-group">
                    <label for="capacity">Capacity (Seats):</label>
                    <label>
                        <input class="form-control" type="text" name="capacity" required>
                    </label>
                </div>
                <button class="btn btn-success" type="submit">Add Vehicle</button>
            </form>
        </div>
        <div class="col-lg-6">
            <img src="{% static 'images/cars.jpg' %}" alt="" width="500" height="500">
        </div>
    </div>
</div>

{% endblock %}
