{% extends 'car_dealer/base.html' %}
{% block content %}
<div class="container-fluid bg-dark">
  <nav class="navbar navbar-expand-lg navbar-dark container">
    <a class="navbar-brand" href="#">SwiftWheels: {{user.username}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link btn btn-teal" href="/Car_dealer/logout/">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-teal" href="/Car_dealer/auth/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-teal" href="/Car_dealer/order_list/">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-teal" href="/Car_dealer/manage_vehicles/">Vehicles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-teal" href="/Car_dealer/history/">Earnings</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="container mt-4">
  <h3 class="text-center"><b>Posted Vehicles</b></h3>
  <div class="p-3">
    <table class="table table-striped table-bordered table-hover text-center">
      <thead class="thead-dark">
        <tr>
          <th>Car</th>
          <th>Color</th>
          <th>Capacity</th>
          <th>Pincode</th>
          <th>Address</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for vehicle in vehicle_list %}
        <tr>
          <td>{{ vehicle.car_name }}</td>
          <td>{{ vehicle.color }}</td>
          <td>{{ vehicle.capacity }} Seats</td>
          <td>{{ vehicle.area.pincode }}</td>
          <td>{{ vehicle.area.city }}</td>
          <td>
            <form action="/Car_dealer/delete/" method="post">
              {% csrf_token %}
              <input type="hidden" name="id" value="{{ vehicle.id }}">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
